{% extends 'layout.html' %}
    {% block sub_content %}

        <style>
            .containerAbout{
                /*    margin-top: 120px;*/
/*                padding-top: 160px;*/
                padding-left: 80px;
                padding-right: 80px;
                background-color: white;
                font-size: 16px;
            }
            .indexFooter{
                height: 100px;
                background-color: black;
            }
            .AboutFooter{
                background-color: black;
                text-align: center;
                bottom: 0;
                padding-bottom: 15px;
            }
            .AboutFooter p{
                margin: 0;
            }
        </style>
        <div class="containerAbout">
            <hr align="center" style="width: 100%; box-shadow: 0.5px 0.5px 0.5px 0.5px;">
            <h1 style="color: firebrick">About us</h1>
            <p>As we are getting closer to campus placements recruitments in few months , we got to go well prepared . we have  to utilise the short time , we have got in a smart way t get recruited by the company . You might be worrying now , we are going to do that well, don’t worry , I’ve created this website for this kind a circumstance. This page will help you boost your confidence, potential and prepare you guys in all possible aspects to face the recruitments. This site will make the student technically/mentally competent for the recruitment. I will provide the complete knowledge as much as possible in recruitment point of view.</p>
            <p>This will be a good source of guidance for all the students and may be for upcoming batches of students</p>
            <h3>What does this site contain ?</h3>
            <h4 style="color: violet">PDFS:</h4><p> In this section, It will provide PDF’s of every subject we have come through. These pdf’s will contain each and every topic of the subject we have had previously ands also present semesters subjects . We are 3rd years and we don’t maintain any notes or textbooks. Don’t worry guys, Why do you think I’ve created this. I’ll be uploading every topic & subject PDF. Happy now? Enjoy.</p>
            <h4 style="color: indigo">VOCABULARY :</h4><p> We do know how much the English language is important for any competitive exams . Most of us are concerned about our vocabulary. We do have so many doubts . We get confused whether the used word suits the sentence. I will be uploading words every day with their meaning, antonyms, synonyms and examples .
            Continuing this daily will definitely improve your vocabulary and clear all your doubts.</p>
            <h4 style="color: blue">QUIZ :</h4><p> This is the section, you guys focus the most. In order to get to the interview part, we gotta pass the aptitude test. So, in order to go well prepared for that. This site conducts a test every day different questions covering all topics</p>
            <ul>
                <li>10 aptitude questions</li>
                <li>10 reasoning questions</li>
                <li>1 logical question</li>
                <strong>Over all for 90 days.</strong>
                <li>900 aptitude questions.</li>
                <li>900 reasoning questions.</li>
                <li>90 logical questions.</li>
            </ul>
            <h4 style="color: green">MOCK RESULTS:</h4> <p>As we got to end of the semester, we might get a thought that whether our cgpa satisfies the company requirements. With this mock results, you can estimate your cgpa based on how you wrote also lets you know how much you gotta study to maintain the required cgpa.</p>
            <h4 style="color: orange">NEWS:</h4> <p>There is always something going around the college. We might not know everything that is happening around us. I’ll try to get every news regarding those. I’ll be gathering information from other colleges too so that we could participate in those. Don’t forget to check this section when you visit this site. For every 2 days we are going to update the content.</p>
            <div></div>
            <div align="right">
<!--                <img width="25%" src="styles/images/gaknew.png" style="float: left">-->
<!--                <img width="160px;" src="styles/images/sign_Arun.png">-->
<p style="margin-right: 70px;font-size: 22px;font-family: cursive">…-GAK-…</p>
            </div>
            <hr style="width: 100%; box-shadow: 0.5px 0.5px 0.5px 0.5px;">
        </div>

<footer class="AboutFooter"><br>
        <a href=""><img class="icon" src="https://img.icons8.com/cute-clipart/64/000000/facebook.png"/></a>&ensp;
            <a href="https://www.instagram.com/_placements90_/" target="_blank"><img class="icon" src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png"/></a>
        <p style="color: white;padding-top: 30px;" align="center">Copyrights&copy; 2020 GAK<span>|</span> Designed by GAK</p>
    </footer>
    {% endblock %}
